<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.adlib.unity"
    android:theme="@android:style/Theme.NoTitleBar"
    android:versionName="1.0"
    android:versionCode="1"
    android:installLocation="preferExternal">
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
        
    <uses-sdk android:minSdkVersion="9" />
        
    <!-- 애드립 실행에 필요한 권한 각 플랫폼 별로 요청하는 권한이 모두 다르기 때문에 아래 권한들을 모두 추가하는것을 추천합니다. -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- 여기까지 애드립 사용을 위한 필수 권한 -->
	
	<!-- 플랫폼에 따라 권한을 추가하시기 바랍니다. (애드립의 필수는 아닙니다.) -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<!-- 플랫폼에 따라 권한을 추가하시기 바랍니다. (애드립의 필수는 아닙니다.) -->
        
    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:debuggable="false">
        <activity 
            android:name="com.unity3d.player.UnityPlayerNativeActivity" 
            android:label="@string/app_name" 
            android:screenOrientation="portrait" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
        </activity>
      
		<!-- 구글 광고 ID 사용을 위해 꼭 추가해주세요. -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
      
        <!-- 애드립 사용을 위해 꼭 추가해주세요. -->
        <activity
            android:name="com.mocoplex.adlib.AdlibDialogActivity"
            android:theme="@android:style/Theme.Translucent"
			android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        
        <activity android:name="com.mocoplex.adlib.AdlibWebBrowserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
            
        <activity android:name="com.mocoplex.adlib.AdlibVideoPlayer"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <!-- 애드립 사용을 위해 꼭 추가해주세요. -->

		<!-- T-AD - 광고 노출을 위해 필요한 선언입니다. -->
		<activity
			android:name="com.skplanet.tad.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:label="Ad Activity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
		<activity
			android:name="com.skplanet.tad.AdVideoPlayer"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:label="Ad Video Player"
			android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
		<!-- TAD - 사용하지 않는다면 여기까지 삭제 -->
        
        <!-- ADAM - 전면광고 노출을 위해 필요한 선언입니다. -->
		<activity android:name="net.daum.adam.publisher.impl.AdInterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        
        <!-- ADMOB - Google Play 버전을 위한 선언입니다. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- ADMOB - 사용하지 않는다면 여기까지 삭제 -->
        
        <!-- INMOBI - 광고 노출을 위해 필요한 선언입니다. -->        
		<!-- Mandatory activity declaration to show the Ad in the embedded browser -->
		<activity android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true" />

        <!-- NAVER - 광고 노출을 위해 필요한 선언입니다. -->                
        <activity android:name="com.nbpcorp.mobilead.sdk.MobileAdBrowserActivity" />
        
        <!-- SHALLWEAD - 광고 노출을 위해 필요한 선언입니다. -->
        <receiver android:name="com.co.shallwead.sdk.ShallWeAdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="ShallWeAd_Application_Key"
            android:value="발급받은 ShallWeAd 등록키" />
        <activity
            android:name="com.co.shallwead.sdk.activity.ShallWeAdActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <!-- MILLENNIAL MEDIA - 광고 노출을 위해 필요한 선언입니다. -->
		<activity android:name="com.millennialmedia.android.MMActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|keyboard" >
		</activity>
        
        <!-- MOBCLIX - 광고 노출을 위해 필요한 선언입니다. -->
		<meta-data android:name="com.mobclix.APPLICATION_ID"
            android:value="insert-your-application-key" />
		<activity android:name="com.mobclix.android.sdk.MobclixBrowserActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:hardwareAccelerated="true" />
        
        <!-- UPLUSAD - 광고 노출을 위해 필요한 선언입니다. -->
		<activity android:name="kr.co.uplusad.dmpcontrol.LGUDMPActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
            
        <!-- MEZZO MEDIA - 광고 노출을 위해 필요한 선언입니다. -->
        <meta-data android:name="MEZZO_WINDOW_ID" android:value="banner" />
        <!-- MEZZO GPS 사용여부 0:사용안함 1:사용 -->
        <meta-data android:name="GPS_USE" android:value="0" />
        <!-- MEZZO DEBUG 모드 사용여부 0:사용안함 1:사용 -->
        <meta-data android:name="DEBUG_MODE" android:value="1" />
        <activity
            android:name="com.mapps.android.view.InterstitialView" />
        <activity
            android:name="com.mapps.android.view.MultimediaView" />
        <activity
            android:name="com.mapps.android.view.AlertNotiView"
            android:theme="@android:style/Theme.Translucent"/>
            
        <!-- AMAZON - 광고 노출을 위해 필요한 선언입니다. -->
        <activity
            android:name="com.amazon.device.ads.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
            
        <!-- ADHUB - 광고 노출을 위해 필요한 선언입니다. -->
        <activity
        	android:name="com.sec.android.ad.AdActivity"
        	android:configChanges="keyboardHidden|orientation|screenSize" />
        
        <!-- MEDIBA AD - 광고 노출을 위해 필요한 선언입니다. -->
        <activity android:name="mediba.ad.sdk.android.openx.MasAdClickWebview" />
        
        <!-- MOBFOX - 광고 노출을 위해 필요한 선언입니다. -->
        <activity android:name="com.adsdk.sdk.banner.InAppWebView"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="com.adsdk.sdk.video.RichMediaActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="false" />
        <activity android:name="com.adsdk.sdk.mraid.MraidBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!--<activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>  -->
        
        <!-- MOPUB - 광고 노출을 위해 필요한 선언입니다. -->
        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation"/>
		<activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation"/>
		<activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation"/>
		<activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation"/>
        
		<!-- 기본 권한 추가 끝 -->
            
    </application>
</manifest>