<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.adlib.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

	<!-- 애드립 실행에 필요한 권한 각 플랫폼 별로 요청하는 권한이 모두 다르기 때문에 아래 권한들을 모두 추가하는것을 추천합니다. -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_TASKS" />      <!-- 액티비티별 스케줄링을 위해 꼭 추가해주세요. -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<!-- 여기까지 애드립 사용을 위한 필수 권한 -->
	
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<!-- 애드립 실행에 필요한 권한 -->
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >        
      
        <!-- 애드립 사용을 위해 꼭 추가해주세요. -->
        <activity
            android:name="com.mocoplex.adlib.AdlibDialogActivity"
            android:theme="@android:style/Theme.Translucent"
			android:configChanges="orientation|keyboardHidden" >
        </activity>
        
        <activity android:name="com.mocoplex.adlib.AdlibWebBrowserActivity" />
        <!-- 애드립 사용을 위해 꼭 추가해주세요. -->        
        
        
		<!-- 여기에 T-AD ID를 넣으세요. 자세한 사항은 T-AD SDK 문서 참조 -->
		<meta-data android:name="Tad_AD_ID" android:value="T-AD-ID" />
		
		<activity android:configChanges="orientation|keyboard|keyboardHidden"
			android:screenOrientation="user" android:label="AdPopupView"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:name="com.sktelecom.tad.sdk.AdPopupView" />

		<activity android:configChanges="orientation|keyboard|keyboardHidden"
			android:screenOrientation="user" android:label="AdPopupActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:name="com.sktelecom.tad.sdk.AdPopupActivity" />

		<activity android:configChanges="orientation|keyboard|keyboardHidden"
			android:label="IntroVideoActivity" android:screenOrientation="landscape"
			android:name="com.sktelecom.tad.sdk.IntroVideoActivity" />
		<!-- TAD - 사용하지 않는다면 여기까지 삭제 -->
        
        
        <!-- ADMOB - 사용하기 위해 API level 13 이상 최신 SDK 가 필요합니다. -->
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <!-- ADMOB - 사용하지 않는다면 여기까지 삭제 -->
        
        <!-- INMOBI - 광고 노출을 위해 필요한 선언입니다. 삭제하지 마세요. -->        
		<!-- Mandatory activity declaration to show the Ad in the embedded browser -->
		<activity android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard" />

        <!-- NAVER - 광고 노출을 위해 필요한 선언입니다. -->                
        <activity android:name="com.nbpcorp.mobilead.sdk.MobileAdBrowserActivity" />
        
        <!-- SHALLWEAD - 광고 노출을 위해 필요한 선언입니다. -->
		<activity
			android:name="com.jm.co.shallwead.sdk.ShallWeAdActivity"
			android:configChanges="orientation|keyboard|keyboardHidden" />
        <receiver android:name="com.jm.co.shallwead.sdk.ShallWeAdReceiver"
            android:process=":remote" />
		<meta-data
			android:name="ShallWeAd_AppKey"
			android:value="" />
		<!-- 기본 권한 추가 끝 -->
        
        
        <activity
            android:name=".AdlibTestProjectActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdlibTestProjectActivity2"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdlibTestProjectActivity3"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdlibTestProjectActivity4"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        </application>

</manifest>